@model IEnumerable<CardPortfolio.Models.SavingsAccount>
@{
    ViewData["Title"] = "Savings Accounts";
}

<h3 class="institution-titles">SAVINGS ACCOUNTS</h3>


@if (User.IsInRole("Administrator"))
{
    <p>@Html.ActionLink("Create New", "Create")</p>
}


@if (Model != null)
{
    <table class="table dt-responsive stripe" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>

                <th>Savings Account Name</th>
                <th>Interest Rate</th>

                <th></th>
            </tr>
        </thead>


        <tbody>

            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.Name</td>
                    <td>@item.InterestRate</td>


                    <td>
                        @Html.ActionLink("Details ", "Details", new { id = item.Id })
                        @if (User.IsInRole("Administrator"))
                        {
                            @Html.ActionLink("Edit ", "Edit", new { id = item.Id })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        }











                    </td>
                </tr>

            }
        </tbody>
    </table>
}