@model IEnumerable<CardPortfolio.Models.MoneyMarketAccount>
@{
    ViewData["Title"] = "Money Market Accounts";
}

<h3 class="institution-titles">MONEY MARKET ACCOUNTS</h3>

@if (User.IsInRole("Administrator"))
{
    <p>@Html.ActionLink("Create New", "Create")</p>
}


@if (Model != null)
{
    <table class="table dt-responsive stripe" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>

                <th>Money Market Account Name</th>
                <th>Interest Rate</th>

                <th></th>
            </tr>
        </thead>


        <tbody>

            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.Name</td>
                    <td>@item.InterestRate</td>


                    <td>
                        <a class="btn btn-green" asp-action="Details" asp-controller="MoneyMarketAccounts" asp-route-id="@item.Id"></a>
                        @if (User.IsInRole("Administrator"))
                        {
                            @Html.ActionLink("Edit ", "Edit", new { id = item.Id })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        }











                    </td>
                </tr>

            }
        </tbody>
    </table>
}