@model IEnumerable<CardPortfolio.Models.UnsecuredPersonalLoan>
@{
    ViewData["Title"] = "Unsecured Loan";
}

<h3 class="institution-titles">UNSECURED PERSONAL LOANS</h3>

@if (User.IsInRole("Administrator"))
{
    <p>@Html.ActionLink("Create New", "Create")</p>
}


@if (Model != null)
{
    <table class="table dt-responsive stripe" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>

                <th><small><strong>NAME</strong></small></th>
                <th><small><strong>APR</strong></small></th>
                <th><small><strong>TERM</strong></small></th>
                <th><small><strong>AMOUNT</strong></small></th>
                <th></th>
            </tr>
        </thead>


        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Name</td>
                <!--APR SECTION-->
                @if(item.LowApr == null && item.HighApr == null)
                {
                    <td>Unknown</td>
                }
                else if(item.LowApr != null && item.HighApr == null)
                {
                    <td>As low as @item.LowApr%</td>
                }
                else if(item.LowApr != null && item.HighApr != null)
                {
                    <td>@item.LowApr% to @item.HighApr%</td>
                }
                else if(item.LowApr == null && item.HighApr != null)
                {
                    <td>Unknown to @item.HighApr%</td>
                }
                <!-- TERM SECTION-->
                @if(item.MinimumTermInMonths == null && item.MaximumTermInMonths == null)
                {
                    <td>Unknown</td>
                }
                else if (item.MinimumTermInMonths == null && item.MaximumTermInMonths != null)
                {
                    <td>Up to @item.MaximumTermInMonths months</td>
                }
                else if(item.MinimumTermInMonths != null && item.MaximumTermInMonths == null)
                {
                    <td>@item.MinimumTermInMonths months to Unknown</td>
                }
                else if(item.MinimumTermInMonths != null && item.MaximumTermInMonths != null)
                {
                    <td>@item.MinimumTermInMonths to @item.MaximumTermInMonths months</td>
                }

                <!-- AMOUNT SECTION -->
                @if(item.MinimumAmount == null && item.MaximumAmount == null)
                {
                    <td>Unknown</td>
                }
                else if(item.MinimumAmount == null && item.MaximumAmount != null)
                {
                    <td>Up to $@item.MaximumAmount </td>
                }
                else if(item.MinimumAmount != null && item.MaximumAmount == null)
                {
                    <td>Minimum of $@item.MinimumAmount</td>
                }
                else if(item.MinimumAmount != null && item.MaximumAmount != null)
                {
                    <td>$@item.MinimumAmount to $@item.MaximumAmount</td>
                }

                <td>
                    <a class="btn btn-green" href="@item.LinkURL" target="_blank">Link</a>
                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }

                </td>
            </tr>

            }
        </tbody>
    </table>
}