@model CardPortfolio.Models.BlogPost
@{
    ViewData["Title"] = "Details";
    var photoPath = "~/images/" + Model.ImageUrl;
}





    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Post Content Column -->
            <div class="col-lg-8">

                <!-- Title -->
                <h1 class="mt-4">@Model.Title</h1>

                <!-- Author -->
                <p class="lead">
                    by
                    <a href="#">WalletBailout</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p>Posted on @Model.CreationDate  </p>
                <a href="#">@Model.BlogPostCategory</a>
                <hr>

                <!-- Preview Image -->
                <img class="img-fluid rounded"  src="@Url.Content(photoPath)" id="carLoanLogo"  alt="">

                <hr>

            @Html.Raw(Model.BodyText)

             

              

              

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card my-4">
                    <form asp-action="Index" method="get">
                        <h5 class="card-header blue-header">Search</h5>
                        <div class="card-body">
                            <div class="input-group">
                                <input type="text" name="SearchString" value="@ViewData["currentFilter"]" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-green" type="submit" value="Search">Go!</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header blue-header">Categories</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-8">
                                <ul class="list-unstyled mb-0">

                                    <li>
                                        <span>@Html.ActionLink("Credit Cards", "Index", "BlogPosts", new { categoryName = "Credit Cards" })</span>
                                    </li>
                                    <li>
                                        <span>@Html.ActionLink("Cash Back Cards", "Index", "BlogPosts", new { categoryName = "Cash Back" })</span>

                                    </li>
                                    <li>
                                        <span>@Html.ActionLink("Sign Up Bonus", "Index", "BlogPosts", new { categoryName = "Sign Up Bonus" })</span>
                                    </li>
                                    <li>
                                        <span>@Html.ActionLink("Cash Advance", "Index", "BlogPosts", new { categoryName = "Cash Advance" })</span>
                                    </li>
                                    <li>
                                        <span>@Html.ActionLink("Balance Transfer Cards", "Index", "BlogPosts", new { categoryName = "Balance Transfer" })</span>
                                    </li>
                                    <li>
                                        <span>@Html.ActionLink("Intro Offers", "Index", "BlogPosts", new { categoryName = "Intro Offer" })</span>

                                    </li>
                                    <li>
                                        <span>@Html.ActionLink("Sign Up Bonuses", "Index", "BlogPosts", new { categoryName = "Sign Up Bonus" })</span>


                                    </li>
                                    <li>
                                        <span>@Html.ActionLink("Travel Cards", "Index", "BlogPosts", new { categoryName = "Travel Cards" })</span>


                                    </li>
                                    <li>
                                        <span>@Html.ActionLink("Savings Account", "Index", "BlogPosts", new { categoryName = "Savings Account" })</span>


                                    </li>
                                    <li>
                                        <span>@Html.ActionLink("Checking Accounts", "Index", "BlogPosts", new { categoryName = "Checking Accounts" })</span>


                                    </li>
                                    <li>

                                        <span>@Html.ActionLink("Certificate Accounts", "Index", "BlogPosts", new { categoryName = "Certificate Accounts" })</span>
                                    </li>
                                    <li>
                                        <span>@Html.ActionLink("Money Market Accounts", "Index", "BlogPosts", new { categoryName = "Money Market Accounts" })</span>

                                    </li>
                                    <li>
                                        <span>@Html.ActionLink("Mortgages", "Index", "BlogPosts", new { categoryName = "Mortgages" })</span>

                                    </li>
                                    <li>
                                        <span>@Html.ActionLink("Auto Loans", "Index", "BlogPosts", new { categoryName = "Auto Loans" })</span>

                                    </li>
                                    <li>
                                        <span>@Html.ActionLink("Home Equity Loans", "Index", "BlogPosts", new { categoryName = "Home Equity Loans" })</span>

                                    </li>
                                    <li>
                                        <span>@Html.ActionLink("HELOCs", "Index", "BlogPosts", new { categoryName = "Home Equity Lines of Credit" })</span>

                                    </li>
                                    <li>
                                        <span>@Html.ActionLink("Unsecured Personal Loans", "Index", "BlogPosts", new { categoryName = "Unsecured Personal Loans" })</span>

                                    </li>
                                    <li>
                                        <span>@Html.ActionLink("Secured Personal Loans", "Index", "BlogPosts", new { categoryName = "Secured Personal Loans" })</span>

                                    </li>
                                    <li>
                                        <span>@Html.ActionLink("Unsecured Lines of Credit", "Index", "BlogPosts", new { categoryName = "Unsecured Lines of Credit" })</span>

                                    </li>
                                    <li>
                                        <span>@Html.ActionLink("Secured Lines of Credit", "Index", "BlogPosts", new { categoryName = "Secured Lines of Credit" })</span>

                                    </li>




                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header blue-header">Similar Posts</h5>
                    <div class="card-body">
                                                                                         
                        @foreach (var post in ViewBag.SimilarPosts)
                        {
                            if (post.ImageUrl != null)
                            {
                                var path = "~/images/" + post.ImageUrl;
                                <p>Title @post.Title</p>
                                <img class="img-thumbnail" src="@Url.Content(path)" alt="Card image cap" />
                                <p>Creation Date @post.CreationDate</p>
                            }
                            else
                            {
                                <a asp-route-id="@post.Id" asp-controller="BlogPosts" asp-action="Details">@post.Title</a>
                                <img class="img-thumbnail" src="http://placehold.it/750x300" alt="Card image cap" />
                                <p> @post.CreationDate</p>
                            }

                        }
                        
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->

    </div>



