@model CardPortfolio.Models.AutoLoan

@{
    ViewData["Title"] = Model.Name;
    var photoPath = "~/images/" + Model.ImageUrl;

}


<div class="container-fluid">

    <img src="@Url.Content(photoPath)" id="carLoanLogo" />
    <p class="alert-heading">@Model.Name</p>


</div>

@if (User.IsInRole("Administrator"))
{
    @Html.ActionLink("Add Image |", "AddImage", "AutoLoans", new { id = Model.Id }) 
    @Html.ActionLink(" Edit |", "Edit", "AutoLoans", new {id = Model.Id} )
    @Html.ActionLink(" Delete", "Delete", "AutoLoans", new {id = Model.Id })
}


