@model IEnumerable<CardPortfolio.Models.AutoLoan>
@{
    ViewData["Title"] = "All Auto Loans";
}

<h3 class="institution-titles">AUTO LOANS</h3>


@if (User.IsInRole("Administrator"))
{
    <p>@Html.ActionLink("Create New", "Create")</p>
}


@if (Model != null)
{
    <table class="table dt-responsive stripe" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>

                <th> <small><strong>NAME</strong></small></th>
                <th><small><strong>CATEGORY</strong></small></th>
                <th><small><strong>APR</strong></small></th>
                <th></th>
            </tr>
        </thead>


        <tbody>

            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.Name</td>
                    <td>@item.AutoLoanCategory</td>
                    @if(item.LowApr == null && item.HighApr == null)
                    {
                        <td>Unknown</td>
                    }
                    else if(item.LowApr == null && item.HighApr != null)
                    {
                        <td>Maximum of @item.HighApr%</td>
                    }
                    else if(item.LowApr != null && item.HighApr == null)
                    {
                        <td>As Low As @item.LowApr%</td>
                    }
                    else if(item.LowApr != null && item.HighApr != null)
                    {
                        <td>@item.LowApr% to @item.HighApr%</td>
                    }

                    <td>
                        <a class="btn btn-green" asp-action="Details" asp-controller="AutoLoans" asp-route-id="@item.Id">Details</a>
                        @if (User.IsInRole("Administrator"))
                        {
                            @Html.ActionLink("Edit ", "Edit", "AutoLoans", new { id = item.Id })
                            @Html.ActionLink("Delete", "Delete", "AutoLoans", new { id = item.Id })

                        }

                        














                    </td>

                </tr>

            }
        </tbody>
    </table>
}