@model IEnumerable<CardPortfolio.Models.Institution>
@{
    ViewData["Title"] = "All Banks";
}
<meta description="All Banks" />
<h3 class="institution-titles">BANKS</h3>

@if (User.IsInRole("Administrator"))
{
    <p>@Html.ActionLink("Create New", "Create")</p>
}

@if (Model != null)
{
    <table class="table dt-responsive stripe" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>

                <th><small><strong>NAME</strong></small></th>
                <th><small><strong>CREDIT BUREAU</strong></small></th>
                <th><small><strong>SCORE FOR BEST APR</strong></small></th>
                <th></th>
            </tr>
        </thead>

        <tbody>


            @foreach (var item in Model)
            {
                var photoPath = "~/images/" + item.ImagePath;
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>@item.CreditBureau</td>
                    @if (item.ScoreForLowestAPR != null)
                    {
                        <td>@item.ScoreForLowestAPR</td>
                    }
                    else
                    {
                        <td>Unknown</td>
                    }
                    <td>
                        <a class="btn btn-green" asp-controller="Institutions" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        @if (User.IsInRole("Administrator"))
                        {
                            Html.ActionLink(" Edit ", "Edit", new { id = item.Id });
                            Html.ActionLink("Delete", "Delete", new { id = item.Id });

                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

else
{
    <h2>There are currently no institutions fuckwad</h2>
}
