@model IEnumerable<CardPortfolio.Models.UnsecuredLineOfCredit>
@{
    ViewData["Title"] = "Unsecured Line of Credit";
}

<h1>Unsecured Line of Credit</h1>

@if (User.IsInRole("Administrator"))
{
    <p>@Html.ActionLink("Create New", "Create")</p>
}


@if (Model != null)
{
    <table class="table table-bordered dt-responsive" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>

                <th>Unsecured LOC</th>
                <th>LOW APR</th>
                <th></th>
            </tr>
        </thead>


        <tbody>

            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.Name</td>
                    <td>@item.LowApr</td>

                    <td>
                        @Html.ActionLink("Details ", "Details", new { id = item.Id })
                        @if (User.IsInRole("Administrator"))
                        {
                            @Html.ActionLink("Edit ", "Edit", new { id = item.Id })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        }













                    </td>
                </tr>

            }
        </tbody>
    </table>
}